[alias]
	ch = checkout
	cm = commit
	br = branch
	st = status
[user]
	name = Alex Nevpryaga
	email = nevpryaga_alex@cloud.upwork.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
